
.idea/aws.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
target/classes/me/espryth/mongo/MainClass.class
target/classes/me/espryth/mongo/database/Provider.class
target/classes/me/espryth/mongo/database/ObjectRepositry.class
target/classes/me/espryth/mongo/database/morphia/MorphiaProvider.class
target/classes/me/espryth/mongo/database/morphia/MorphiaDatastoreProvider.class
target/classes/me/espryth/mongo/database/mongo/MongoObjectRepositry.class
target/classes/me/espryth/mongo/database/mongo/MongoClientProvider.class
target/classes/me/espryth/mongo/database/Model.class
target/classes/me/espryth/mongo/book/BookRepository.class
target/classes/me/espryth/mongo/book/BookImpl.class
target/classes/me/espryth/mongo/book/Book.class
target/classes/me/espryth/mongo/book/author/SimpleAuthor.class
target/classes/me/espryth/mongo/book/author/Author.class
target/classes/me/espryth/mongoexample/teacher/Teacher.class
target/classes/me/espryth/mongoexample/teacher/SimpleTeacher.class
target/classes/me/espryth/mongoexample/student/Student.class
target/classes/me/espryth/mongoexample/student/SimpleStudent.class
target/classes/me/espryth/mongoexample/Provider.class
target/classes/me/espryth/mongoexample/MongoExample.class
target/classes/me/espryth/mongoexample/model/Model.class
target/classes/me/espryth/mongoexample/Model.class
target/classes/me/espryth/mongoexample/Example.class
target/classes/me/espryth/mongoexample/database/repository/ObjectRepositoryProvider.class
target/classes/me/espryth/mongoexample/database/repository/ObjectRepository.class
target/classes/me/espryth/mongoexample/database/repository/MongoObjectRepository.class
target/classes/me/espryth/mongoexample/database/Provider.class
target/classes/me/espryth/mongoexample/database/ObjectRepositoryProvider.class
target/classes/me/espryth/mongoexample/database/ObjectRepository.class
target/classes/me/espryth/mongoexample/database/MorphiaProvider.class
target/classes/me/espryth/mongoexample/database/MorphiaDatastoreProvider.class
target/classes/me/espryth/mongoexample/database/MongoObjectRepository.class
target/classes/me/espryth/mongoexample/database/MongoDatabaseProvider.class
target/classes/me/espryth/mongoexample/database/MongoClientProvider.class
target/classes/me/espryth/mongoexample/database/jackson/ObjectMapperProvider.class
target/classes/me/espryth/mongoexample/database/jackson/InterfaceDeserializer.class
target/classes/me/espryth/mongoexample/book/BookImpl.class
target/classes/me/espryth/mongoexample/book/Book.class
target/classes/me/espryth/mongoexample/book/author/SimpleAuthor.class
target/classes/me/espryth/mongoexample/book/author/Author.class
